* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-primary: #222231;
    --color-secondary: #343447;
    --color-dark-gray: #191926;
    --color-text-gray: #7f7f98;
    --color-green: #4cbb17;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-text-gray);
}

body {
    background-color: var(--color-primary);
}

#toggle-color {
    width: 100px;
}

#toggle-color-background {
    background-color: var(--color-secondary);
    width: 100px;
    height: 38px;
    border-radius: 40px;
    position: relative;
}

#toggle-color-circle {
    background-color: var(--color-dark-gray);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: transform 0.3s ease;
}

.move-right {
    transform: translateX(62px);
}

#toggle-color-paragraph {
    color: #fff;
    font-weight: bold;
}

.search-field {
    width: 100%;
    height: 62px;
    border-radius: 40px;
    background-color: var(--color-secondary);
}

#input-city-field {
    width: 250px;
    background-color: transparent;
    border: 0;
    color: #fff;
    outline: none;
}

.current-location {
    background-color: var(--color-green);
    width: 200px;
    height: 62px;
    border-radius: 40px;
}

.weather-cards {
    background-color: var(--color-secondary);
    border-radius: 30px;
}

#city-paragraph {
    font-size: 2.25rem;
}

#city-clock {
    font-size: 6rem;
}
.city-time {
    padding: 54px 0;
}
.detail-weather {
    padding: 25px 0;
}

.weather-cards .first-part h1 {
    font-size: 5rem;
    font-weight: 800;
    background-image: linear-gradient(90deg, #fff, var(--color-text-gray));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.weather-cards .feels-like {
    color: var(--color-text-gray);
    font-size: 32px;
}

.weather-cards .feels-like span {
    font-size: 20px;
}

.first-part, .third-part {
    width: 204px;
}

.second-part {
    width: 290px;
}

.second-part img {
    width: 80%;
}

.second-part h2 {
    color: #fff;
}

.third-part {
    height: 280px;
}

.third-part img {
    width: 3.438rem;
    height: 55px;
}

.humidity, .wind-speed, .pressure, .uv {
    width: 5.938rem;
}
.days-forecast .forecast-day img {
    width: 3.75rem;
}
.forecast-day {
    gap: 2.688rem;
}
.forecast-day-degree {
    font-size: 1.5rem;
}
.forecast-day-date {
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    .w-md-35 {
        width: 35% !important; /* for some reason doesn't work by itself */
    }
}
@media (min-width: 1200px) {
    .w-xl-40 {
        width: 40% !important;
    }
}
